.bg {
  background-size: cover;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.bg:hover {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.bg-one {
  background-image: url("../img/uiux1/uiux1_10.png");
}

.bg-two {
  background-image: url("../img/petmille/petmille_t.png");
  background-size: cover;
  background-position: 0% 50%;
}

.bg-three {
  background-image: url("../img/masto/mastocheck1.png");
  background-size: cover;
  background-position: 50% 50%;
}

.bg-aq-p1 {
  background-image: url("../img/photo/Aquarium/Aqua1.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.bg-art-p1 {
  background-image: url("../img/photo/Artifact/artifact1.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.bg-bw-p1 {
  background-image: url("../img/photo/Black_white/BW1.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.bg-ever-p1 {
  background-image: url("../img/photo/Evergreen/Evergreen2.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.bg-farm-p1 {
  background-image: url("../img/photo/Farm/Farm1.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.bg-gold-p1 {
  background-image: url("../img/photo/Golden_hour/Golden1.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.bg-na-p1 {
  background-image: url("../img/photo/Naval/Naval1.jpg");
  background-size: cover;
  background-position: 50% 50%;
}
